body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    align-items: center;
    
}

#start {
    position: relative;
    margin: 2em;
    margin-top: 0;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    background-color: rgb(255, 80, 80);
    border: solid 3px rgb(144, 0, 0);
    border-radius: 7px;
    color: rgb(248, 248, 248);
    font-weight: 600;
    font-stretch: wider;
}

#next {   
    position: relative;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2em;
    flex-wrap: wrap;
    background-color: rgb(255, 80, 80);
    border: solid 3px rgb(144, 0, 0);
    border-radius: 7px;
    color: rgb(248, 248, 248);
    font-weight: 600;
    font-stretch: wider;
}

.time {
    margin: 25px;
    padding: 15px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: solid 3.5px rgb(48, 28, 228);
    border-radius: 200px;
    color: rgb(48, 28, 228);
    font-weight: 400;
    font-size: xx-large;

}

#questions {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 80, 80);
    border: solid 4px rgb(144, 0, 0);
    border-radius: 7px;
    color: rgb(255, 255, 255);

}

#submit {
    position: relative;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    background-color: rgb(144, 0, 0);
    border: solid 3px rgb(255, 80, 80);
    border-radius: 7px;
    color: rgb(248, 248, 248);
    font-weight: 600;
    font-stretch: wider;
}

h1 {
    border-bottom: solid 4px rgb(144, 0, 0);
    text-align: center;
    padding-bottom: .5em;
    padding-top: .25em;
    font-size: 30px;
    font-weight: 400;

}


#a1, #a2, #a3, #a4 {
    position: relative;
    width: 100%;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    background-color: rgb(144, 0, 0);
    border: solid 3px rgb(255, 80, 80);
    border-radius: 7px;
    color: rgb(248, 248, 248);
    font-weight: 600;
    font-stretch: wider;

}

#score {
    text-align: center;
    position: relative;
    margin-top: 50px;
    border: solid 3px rgb(255, 80, 80);
    border-radius: 7px;
    padding: 5px;


}